@import 'base/base';
// @import './node_modules/the-grid-flexbox/css/the-grid.min.css';

[v-cloak] {
  display: none
}

.page-enter-active,
.page-leave-active {
  transition: opacity .5s
}

.page-enter,
.page-leave-active {
  opacity: 0
}

.dialog-footer {
  padding: 0 0px 15px 0px;
}
